<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiStall - Terms & Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  

    <main class="container my-5">
        <div class="text-center">
            <img src="https://th.bing.com/th/id/OIP.4XcHzFDeDP7lGhe7ubZAdQHaCH?w=347&h=100&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="DigiStall" style="width: 120px;">
            <h3 class="mt-4">Terms & Conditions</h3>

            <div class="card mt-4 border-0">
                <div class="card-body">
                    <form action="/login">

                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="optOutMarketing">
                            <label class="form-check-label" for="optOutMarketing">I would prefer to receive marketing messages from DigiStall</label>
                        </div>

                        <div class="form-check mb-3">
                            <input type="checkbox" class="form-check-input" id="shareData">
                            <label class="form-check-label" for="shareData">Share my registration data with DigiStall's content providers for marketing purposes.</label>
                        </div>

                        <div class="form-check mb-4">
                            <input type="checkbox" class="form-check-input" id="agreeTerms" required>
                            <label class="form-check-label" for="agreeTerms">
                                I agree to the <a href="#">DigiStall Terms and Conditions of Use</a> and <a href="#">Privacy Policy</a>.
                            </label>
                        </div>

                        <button type="submit" class="btn btn-custom btn-lg w-100">Sign Up</button>
                    </form>

                    <hr class="my-4">
                    <div>
                        <p>Already have an account? <a href="">Log in here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>