
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DigiStall</title>
    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="card text-center spotify-card">
            <div class="mb-4">
                <img src="https://th.bing.com/th/id/OIP.4XcHzFDeDP7lGhe7ubZAdQHaCH?w=347&h=100&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="DigiStall" class="spotify-logo">
            </div>
            <h4 class="mb-3">Looking for Gadgets?</h4>
            <p>Find them here at DigiStall!</p>
            <a href="#" class="btn btn-primary btn-lg w-100 mb-3">Log in</a>
            <p class="small">New to DigiStall? <a href="/#">Sign up</a></p>
            <p class="small">Authorized person only! <a href="/#">Admin</a></p>
            <br><br>
            <a href="sample1/" class="btn btn-primary">Go Sample Page 1</a>
            <a href="sample2/" class="btn btn-secondary">Go to Sample Page 2</a> <br><br>
        </div>
        
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
